*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
    font-size: 14px;
    color:blue;
    line-height: 1.5;
    font-weight: 500;
}

div{
    display: block;
}

.body-header{
    background: url(HomeImg/background-header.webp);
    top: 0;
    left: 0;
    width: 100%;
}

.wrap-container{
    background: url(HomeImg/background-header.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.05);
    border-bottom: 2px solid #fff;
}

.container{
    max-width:1250px;
    margin:0 auto 0 auto;
    width:100%
}

.topbar-wrap{
    display:flex;
    width:100%;
    flex-wrap: wrap;
}

.topbar-attop{
    display:flex;
    margin-top: 5px;
    align-items: center;
}

.topbar-attop-left{
    width:calc(100%-300px);
    align-items: center;
    display:flex;
}

.logo{
    position: relative;
    float:left;
    margin-right:20px;
    width:80px;
    padding:unset
}

.theme-search-area form{
    margin:5px 0px;
    max-width:510px;
    position:relative;
    border:2px solid transparent;
    border-radius: 8px;
}


.theme-search-area input[type=text]{
    width:380px;
    padding:8px 10px 12px;
    font-size:15px;
    background:#fff;
    outline: none;
    border:none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: inline-block;
}

.theme-search-area input:hover{
    border:1px solid #ffc107;
}

.theme-search-area button{
    float:right;
    position: absolute;
    padding:8px 10px 9px;
    background:#ffc107 url(https://bizweb.dktcdn.net/100/438/408/themes/904142/assets/icon-search.svg);
    background-repeat: no-repeat;
    background-position: center;
    width:80px;
    height:40px;
    border:none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer
}

.theme-search-area button:hover{
    border: 1px solid #fff;
}

.topbar-attop-right{
    margin-left:20px;
    width:850px;
    display:flex;
    justify-content:center;
}

.list-contact{
    display:flex;
}

a{
    text-decoration: none;
}
.map{
    background:url(https://bizweb.dktcdn.net/100/438/408/themes/913235/assets/map_tb.svg?1688174049090) left center no-repeat;
    padding-left:20px;
    margin-right:20px;
    font-size:16px;
    font-weight:500;
}

.phone{
    background:url(https://bizweb.dktcdn.net/100/438/408/themes/913235/assets/call_tb.svg?1688174049090) left center no-repeat;
    padding-left:20px;
    color:#11006f;
    font-weight: 500;
    font-size:16px;
}

.free{
    font-size:14px;
    width:40px;
    background-color: #ffc107;
    color:#11006f;
    border-radius:10px;
    text-align: center;
    margin-left:30px;
    font-weight: 500;
}

.topbar-atbottom{
    width:100%;
    display:flex
}

.topbar-atbottom-left{
    display:flex;
}

.header-navigation{
    margin:8px 0 8px 0;
    justify-content: space-between;
    align-items: center;
    position: relative
}

.header-navigation ul{
    text-align: left;
    margin:0;
    padding:0;
    float:left
}

.header-navigation ul li{
    list-style-type: none;
    display:inline-block;
    padding:5px 22px 0 0;
    font-size:16px;
    font-weight: 500;
    text-transform: uppercase;
    color:#11006f
}


.topbar-atbottom-right{
    justify-content:end;
    display:flex;
    position:relative;
    margin-bottom: 8px;
}

.cart-drop{
    display:flex;
    position: relative;
    margin:0 0 5px 18px

}

.cart-wrap{
    align-items:center;
    display:flex;
    position:relative;
    padding:5px 0 8px 0
}

.number-cart{
    height:19px;
    min-width:20px;
    width:auto;
    top:-4px;
    left:15px;
    position:absolute;
    margin-top:2px;
    border-radius:40px;
    text-align:center;
    font-size:14px;
    font-weight:500;
    color:black;
    background-color:#ffc107
}

.text-giohang{
    color:#11006f;
    font-size:16px;
    text-transform: uppercase;
    font-weight: 500;
    justify-content:space-between;
    margin-bottom:10px
}

.user-register-login{
    float:right;
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin:6px 0 8px 0
}

.user{
    position:relative
}

.user-login{
    background: url(https://bizweb.dktcdn.net/100/438/408/themes/913235/assets/icon-user.svg?1688174049090) left center no-repeat;
    padding:6px 2px 0 26px;
    margin-left:28px;
    align-items:center;
    justify-content:space-between;
}

a.register{
    padding:5px 5px 0 0;
    margin-bottom:5px;
    color:#11006f;
    font-size: 16px;
}

a.login{
    padding:5px 0 0 5px;
    margin-bottom:5px;
    color:#11006f;
    font-size: 16px;
}

.account-container{
    background:url(https://bizweb.dktcdn.net/100/438/408/themes/913235/assets/bg_login.jpg?1688174049090)bottom center no-repeat;
    background-size: cover;
    height:800px;
    padding:40px 0 ;
}

.form-account{
    width:650px;
    margin:0 auto;
    display:flex;
    padding:40px 0;
    background-color:#fff;
}

.form-group{
    position:relative;
    padding:0;
    border:0
}

.main-content{
    background:#ffffff;
    width:100%;
    padding:0 105px;
    text-align:center
}

.text-chaomung{
    color:#595959;
    font-size:16px;
}


.main-content form input[type=text]{
    width:100%;
    border-radius:5px;
    border:1px solid black;
    height:40px;
    display:inline-block;
    font-size:16px;
    margin-top:35px;
    padding:0 0 0 20px
}

.main-content form input[type=password]{
    width:100%;
    border-radius:5px;
    border:1px solid black;
    height:40px;
    display:inline-block;
    font-size:16px;
    margin-top:35px;
    padding:0 0 0 20px
}

.main-content form input[type=email]{
    width:100%;
    border-radius:5px;
    border:1px solid black;
    height:40px;
    display:inline-block;
    font-size:16px;
    margin-top:35px;
    padding:0 0 0 20px
}

.showpass{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 610px;
    right: 555px;
    background: url(Icon/showpass.svg) center center no-repeat;
    cursor: pointer;
}

.btn{
    width:100%;
    border-radius:5px;
    border:1px solid transparent;
    height:40px;
    color:#fff;
    background-color:#ffc107;
    text-align:center;
    font-size:18px;
    font-weight:500;
    margin-top:35px;
    padding:0 0 0 20px
}

.social-login{
    margin-top:30px;
    text-align:center;
    color:#595959;
    font-size:16px;
}

.gg-fb-symbol{
    padding:30px 70px;
    display:flex
}

.page-signup-text{
    color:#595959;
    font-size:16px
}

.page-signup-text > a{
    color:#ffc107;
    font-size:16px;
    font-weight:500;
    cursor:pointer;
}


.footer{
    background:#2a2a86;
    padding:25px 0 0;
    color:#ffffff
}

.row{
    padding:0 -10px 0 -10px
}

.footer-top{
    margin-bottom:20px;
    display:flex
}

.row_1-footer-top{
    padding:0 10px 0 10px;
    max-width:33%
}

.slogan{
    margin-bottom:30px
}

.signup-sub{
    border-radius:0;
    width: 475px;
    overflow:hidden;
    position: relative;
    max-width: 100%;
    display:inline-block
}

.signup-sub input{
    height:40px;
    width:300px;
    margin:0 0 30px 0;
    color:#161313;
    background: #e3dede;
    border:1px solid transparent;
    outline:none
}


.signup-sub .btn{
    float:right;
    position: absolute;
    margin:0;
    padding:8px 10px 8px;
    font-size:14px;
    background-color:#fff;
    color:#ffc107;
    width:80px;
    height:40px;
    border-radius:0;
    cursor: pointer
}

.social-button{
    margin-right:5px;
    display:inline-block;
    cursor: pointer;
    width:40px;
    height:40px
}

.row_2-footer-top{
    padding:0 15px 0 15px;
    max-width:20%;
}

.footer-h4{
    margin:0;
    padding:0;
    text-transform: uppercase;
    font-size:14px;
    color:#fff
}

.row_2-footer-top ul{
    padding:6px 0 10px 5px
}

.row_2-footer-top ul li{
    font-size:14px;
    line-height:25px;
    list-style-type: none;
}

.row_2-footer-top ul li a{
    color:#fff
}

.row_2-footer-top ul li a:hover{
    color:#ffc107
}

.row_3-footer-top{
    padding:0px 15px 0 15px;
    max-width:30%
}

.row_3-footer-top ul{
    padding:6px 0 10px 15px
}

.row_3-footer-top ul li{
    font-size:14px;
    line-height:25px;
    list-style-type: none;
}

.row_3-footer-top ul li a{
    color:#fff
}

.row_3-footer-top ul li a:hover{
    color:#ffc107
}

.row_4-footer-top{
    padding-left:3%;
    max-width:25%;
    display:block
}

.row_4-footer-top ul{
    padding-top:10px;
}

.row_4-footer-top ul li{
    font-size:14px;
    line-height:25px;
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: none;
}

.row_4-footer-top ul li a{
    color:#fff
}

.row_4-footer-top ul li a:hover{
    color:#ffc107
}

.footer-copyright{
    width:98%;
    font-size:12px;
    color:#fff;
    text-align:center;
    padding-bottom:15px
}